<div class="container">
    <div class="card">
        <div class="card-body">
            <div *ngIf="pulsa; else nopulsa">
               <h3 class="card-title" [ngStyle]="{backgroundColor: getColor()}">YOUR APPS:GRACIAS POR COMPRAR </h3>
            </div>
            <ng-template #nopulsa>
               <h3 class="card-title" [ngStyle]="{backgroundColor: getColorSubscrito()}">YOUR APPS</h3>
            </ng-template>
          <br>
           <img src={{articulo.img}} class="card-img-top" alt="Responsive image">
            <div class="row">
                <h5 class="card-text">{{articulo.nombre}}</h5>
            </div>
            <div class="row">
                <h5 class="card-text">Fecha de Creacion del Software: {{articulo.fechaCreacion}}</h5>
            </div>
            <div class="row">
                <h5 class="card-text">Numero de Ventas: {{articulo.numeroVisitas}}</h5>
            </div>
            <div class="row">
                <h5 class="card-text">Precio: {{articulo.precio}} Euros</h5>
            </div>
            <div class="row">
                <h5 class="card-text">Autor: {{articulo.creador}}</h5>
            </div>
          <br>
          <div class="container">
                <div *ngIf="boton">
                  <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-toggle="button" (click)="subscribirse()">Instalar</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-warning" data-toggle="button" (click)="eliminarSubscripcion()">Devolver</button>
                   </div>
                </div>
                <div class="row">
                    <h5 class="type">
                        {{articulo.numeroVisitas}}
                    </h5>
                </div>
             </div>

            </div>
       </div>
   </div>
</div>